.home-form-block {
  margin: 15px 0;
}
.hidden-input-col {
  display: none;
}
.serv-id {
  display: none;
}
//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  height: 182px;
  background-position: calc(100% - 13px) 10px;
  background-image: url("../iconsall/form-textarea.png");
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="submit"] {
  @include submit-style;
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.footer-main {
  div.wpcf7 input[type="submit"] {
	padding: 5px 40px;
  }
}
@mixin input-text-black {
  color: $text-main;
  font-size: size(14);
  line-height: size(16);
}
.black-inputs, .inverse-repeat-form {
  .wpcf7-form {
	::placeholder {
	  color: $text-main;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  color: $text-main;
	}
  }
  div.wpcf7 input[type="text"], div.wpcf7 input[type="tel"] {
	border: 1px solid $text-main;
	color: $text-main;
  }
  div.wpcf7 input[type="text"] {
	background-image: url("../iconsall/form-name-black.png");
  }
  div.wpcf7 input[type="tel"] {
	background-image: url("../iconsall/form-tel-black.png");
  }
}
.black-inputs {
  div.wpcf7 input {
	height: size(35);
  }
  .wpcf7-form {
	::placeholder {
	  @include input-text-black;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  @include input-text-black;
	}
  }
  div.wpcf7 input[type="text"], div.wpcf7 input[type="tel"] {
	padding-right: size(35);
	@include input-text-black;
	background-position: calc(100% - 9px) center;
  }
  div.wpcf7 input[type="text"] {
	background-size: size(16);
  }
  div.wpcf7 input[type="tel"] {
	background-size: size(13);
  }
  div.wpcf7 input[type="submit"] {
	line-height: 0.55rem;
  }
}
.repeat-form-block {
  @include back-img;
  background-image: url("../img/form-back.png");
}
.repeat-form-overlay {
  padding: 60px 0 20px 0;
  background-color: rgba(0, 0, 0, 0.54);
}
.inverse-repeat-form {
  .repeat-form-overlay {
	background-color: rgba(255, 255, 255, 0.54);
  }
  .base-form-subtitle, .base-form-title {
	color: $text-main;
  }
}
