header {
  padding: 18px calc(5% - 15px);
}
#MainNav{
  ul{
	//display: flex;
	//height: 100%;
	li{
	  //position: relative;
	  //margin: 0 size(20);
	  a{
		//@include d-center;
		@include mid-text;
		text-align: center;
		color: #ffffff;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
	  }
	}
  }
}
.logo {
  @include d-center;
  img {
	max-height: size(56);
  }
}
.header-tel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
	width: size(18);
	margin-left: 6px;
  }
}
.tel-number {
  color: #ffffff;
  font-size: size(20);
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(33);
  text-align: center;
}

.pop-form, .pop-form-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.52);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form, .float-form-search {
  position: relative;
  width: 100%;
  max-height: 100vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  border: 1px solid #ffffff;
  background-color: #e2edf5;
  background-image: url("../img/pop-back.png");
  @include back-img;
  opacity: 0;
  padding: size(80) 5% 40px 5%;
  .wpcf7 {
	max-width: size(313);
  }
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
}
.pop-form-title, .pop-form-subtitle,
.base-form-title, .base-form-subtitle {
  color: #ffffff;
  text-align: center;
}
.pop-form-title, .base-form-title {
  @include large-title;
  font-weight: 700;
  margin-bottom: 10px;
}
.pop-form-title {
  text-shadow: -4px 1px 17px rgba(0, 0, 0, 0.32);
}
.pop-form-subtitle, .base-form-subtitle {
  @include base-title;
}
.pop-form-subtitle {
  font-weight: 400;
  text-shadow: 0 4px 22px rgba(0, 0, 0, 0.54);
  margin-bottom: 25px;
}
.base-form-subtitle {
  margin-bottom: 10px;
  font-weight: 300;
}
.close-form {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.pop-trigger, .social-link-item {
  cursor: pointer;
  margin-bottom: 12px;
  img {
	width: size(35);
  }
}
.triggers-col {
  position: fixed;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 9999;
  bottom: 0;
}

//Footer
.footer-main {
  position: relative;
  padding-top: 40px;
  padding-bottom: 150px;
}
.foo-menu {
  padding-top: 50px;
}
.foo-title {
  color: #ffffff;
  font-size: size(20);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(22);
  margin-bottom: 10px;
}
.menu-border-top {
  padding-top: 18px;
}
footer {
  position: relative;
  li {
	a {
	  display: flex;
	  font-size: size(16);
	  line-height: size(17);
	  font-weight: 300;
	  margin-bottom: 20px;
	  color: #ffffff;
	  transition: color .5s;
	  &:hover {
		color: $main-color;
		transition: color .5s;
	  }
	}
  }
}
.foo-after-title {
  position: relative;
  &:after {
	position: absolute;
	content: '';
	display: block;
	width: calc(100% - 30px);
	background-color: $main-color;
	height: 3px;
	top: 75px;
	right: 15px;
  }
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 5%;
}
#go-top {
  position: absolute;
  top: -20px;
  right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  img {
	width: size(64);
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.top-text {
  font-size: size(22);
  line-height: size(20);
  text-shadow: -2px 1px 8px rgba(0, 0, 0, 0.64);
  text-align: center;
  font-weight: 400;
  color: #ffffff;
}
//Footer editions

