.faq {
  background-color: #ffffff;
  padding: size(126) 0 50px 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 15px;
  }
  .answer-body {
	padding: 20px 20px 30px 20px;
  }
  .contact-pencil {
	width: 8%;
  }
}
.title-wrap-faq {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.faq-title-main {
  @include base-title;
  color: $text-main;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 20px;
}
.faq-back {
  background-image: url("../img/faq-back.png");
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  min-height: size(73);
  border-radius: 0;
  border: 1px solid #acacac;
  background-color: #ffffff;
  padding: 0;
  //background-image: url("../iconsall/faq.png");
  &.active-faq {
	.faq-icon {
	  background-color: $main-color;
	  transition: background-color .5s;
	}
  }
}
.faq-icon {
  @include d-center;
  min-width: size(88);
  width: size(88);
  min-height: size(73);
  padding: 10px 35px 10px 35px;
  border: 2px solid #acacac;
  background-color: $text-main;
  @include d-center;
  color: #ffffff;
  font-size: size(39);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  text-align: center;
  transition: background-color .5s;
}
.faq-body-title {
  display: flex;
  align-items: center;
  @include base-text;
  color: $text-main;
  font-weight: 400;
  text-align: right;
  padding: 10px 20px;
  transition: color .5s;
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.answer-body {
  border: 1px solid #acacac;
  border-top: none !important;
}
//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(15);
	height: size(23);
	z-index: 33;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(9);
	height: size(14);
	z-index: 33;
	top: unset;
	bottom: -1.5rem;
  }
  [dir="rtl"] .slick-next {
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	right: unset;
	left: 2rem;
  }
}
.base-slider-block {
  position: relative;
  padding: size(150) 0;
  background-color: #3a3a3a;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
  }
}


//Post card
.col-post {
  margin-bottom: 30px;
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  transition: margin-top .5s;
  &:hover {
	margin-top: -1rem;
	transition: margin-top .5s;
	.post-card-content {
	  height: auto;
	  opacity: 1;
	  transition: height, opacity .5s;
	}
	.post-title-wrap {
	  border: 1px solid #1a1a1a;
	  background-color: #ffffff;
	  transition: background-color, border .5s;
	  .post-card-title {
		color: $text-main;
		transition: color .5s;
	  }
	}
	.post-card-title:after {
	  background-image: url("../iconsall/hover-arrow.png");
	}
  }
}
.post-img {
  position: relative;
  @include back-img;
  &:after {
	display: block;
	content: '';
	padding-bottom: calc(100% + 64px);
  }
}
.post-prod-img {
  &:after {
	padding-bottom: calc(100% + 10px);
  }
}
.card-content-wrap {
  @include overlay;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}
.post-card-content {
  flex-grow: 1;
  background-image: url("../img/post-overlay.png");
  @include back-img;
  height: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow-y: auto;
  padding: 16px 30px;
  transition: height, opacity .5s;
}
.post-title-wrap {
  background-color: $main-color;
  padding: size(20) 10px;
  @include d-center;
  min-height: size(64);
  border: 1px solid transparent;
  transition: background-color, border .5s;
}
.post-small-text {
  font-size: size(16);
  line-height: size(20);
  text-align: center;
  color: #ffffff;
}
.post-card-title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  &:after {
	display: block;
	content: '';
	background-image: url("../iconsall/link-arrow.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: size(9);
	width: size(9);
	height: size(14);
	position: absolute;
	left: 0;
  }
}
.product-card-title {
  color: #ffffff;
  font-size: size(20);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(33);
  text-align: center;
}
