/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1920px) {
  html{
	font-size: 22px;
  }
}
@media (max-width: 1300px) {
  .contact-pencil {
	display: none;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .dark-home-slider {
	.slider-output {
	  padding-left: 10%;
	}
	[dir="rtl"] .slick-next {
	  left: 1rem;
	}
	[dir="rtl"] .slick-prev {
	  left: 3rem;
	}
  }
  .about-years {
	right: -20px;
	bottom: 2rem;
  }
  .after-image {
	margin: 0 0 20px 20px;
  }
  .post-image-wrap {
	margin: 0 5.5% 0 0;
  }
  .post-form-title {
	@include base-title;
  }
  .post-form-subtitle {
	@include mid-text;
  }
}
@media (max-width: 1199px) {
  .contact-pencil {
	display: block;
  }
}
@media (max-width: 1050px) {
  .contact-pencil {
	left: 0;
	top: unset;
	bottom: 0;
  }
  #MainNav {
	ul {
	  li {
		margin: 0 10px;
		a {
		  font-size: size(17);
		  line-height: size(20);
		}
	  }
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .contacts-footer-menu {
	order: 2;
  }
  .foo-links-menu {
	order: 3;
	position: relative;
	&:after {
	  position: absolute;
	  content: '';
	  display: block;
	  width: calc(100% - 30px);
	  background-color: $main-color;
	  height: 3px;
	  top: 75px;
	  right: 15px;
	}
  }
  .faq-back {
	background-image: none;
  }
  .faq {
	.contact-pencil {
	  display: none;
	}
  }
  .dark-home-slider {
	.slider-output {
	  padding-left: 0;
	}
	[dir="rtl"] .slick-next {
	  left: 0;
	}
	[dir="rtl"] .slick-prev {
	  left: 2rem;
	}
  }
  .slider-img-col, .about-img-wrap {
	margin-bottom: 2rem;
  }
  .contact-pencil {
	width: 15%;
  }
  .page-about-image-wrap {
	margin: 0 size(34) size(30) 0;
  }
}
@media (min-width: 1050px) and (max-width: 769px){
  #MainNav{
	ul{
	  li{
		margin: 0 10px;
		a{
		  font-size: size(16);
		  line-height: size(18);
		}
	  }
	}
  }
}
@media (min-width: 769px) {
  #MainNav{
	ul{
	  display: flex;
	  height: 100%;
	  li{
		position: relative;
		@include d-center;
		flex-direction: column;
		margin: 0 size(20);
		a{
		  @include d-center;
		  @include mid-text;
		  text-align: center;
		  color: #ffffff;
		  font-weight: 400;
		  font-style: normal;
		  letter-spacing: normal;
		}
	  }
	}
  }
  header {
	#MainNav ul.sub-menu {
	  display: none;
	  position: absolute;
	  top: 100%;
	  //right: 0;
	  z-index: 99999;
	  height: auto;
	  padding: size(20);
	  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.18);
	  background-color: #ffffff;
	  min-width: 175px;
	  .back-to-menu, .sub-head {
		display: none;
	  }
	  li {
		a {
		  position: relative;
		  @include d-center;
		  font-size: size(16);
		  line-height: size(18);
		  text-align: center;
		  color: $text-main;
		  font-weight: 400;
		  margin-bottom: 30px;
		  transition: font-weight .5s;
		  &:after {
			position: absolute;
			bottom: -5px;
			content: '';
			width: 80%;
			height: 1px;
			display: block;
			background-color: $main-color;
			opacity: 0;
			transition: opacity .5s;
		  }
		  &:hover {
			font-weight: 700;
			transition: font-weight .5s;
			&:after {
			  opacity: 1;
			  transition: opacity .5s;
			}
		  }
		}
	  }
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .post-content-col {
	display: flex;
	flex-direction: column;
  }
  .post-order-content {
	order: -1;
  }
  .post-image-wrap, .page-about-image-wrap {
	float: unset;
	width: 100%;
	margin: 2rem 0 0 0;
	order: 2;
  }
  .post-form-title {
	font-size: size(30);
	line-height: size(33);
  }
  .post-form-subtitle {
	font-size: size(22);
	line-height: size(34);
  }
  .contact-item {
	padding: 0;
  }
  .contact-pencil {
	width: 20%;
  }
  header {
	padding: 18px calc(5% + 15px) 18px calc(5%);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .col-arrows {
	padding: 0 35px;
  }
  .about-years {
	right: 0;
	bottom: -20px;
  }
  .about-img-wrap {
	margin-top: 2rem;
	.after-image {
	  width: calc(100% - 20px);
	}
  }
  .pop-form-title {
	@include base-title;
  }
  .pop-form-subtitle {
	@include mid-text;
  }
  .with-line-title {
	padding: 30px 0;
	&:before,
	&:after {
	  flex: 0 0 50%;
	  max-width: 50%;
	  background-position: center;
	}
	&:before {
	  right: unset;
	  top: 0;
	}
	&:after {
	  left: unset;
	  bottom: 0;
	}
  }
  .home-main-link {
	min-width: unset;
	padding: 5px 20px;
	font-size: size(30);
	line-height: size(40);
  }
  .reviews-back {
	margin: 0 -15px;
	background-size: cover;
	padding-bottom: 15%;
  }
  .reviews-block {
	.base-slider {
	  width: 55%;
	}
	[dir="rtl"] .slick-next {
	  left: -3rem;
	}
	[dir="rtl"] .slick-prev {
	  background-image: url("../iconsall/rev-arrow-right.png");
	  right: -3rem;
	}
  }
  .faq-icon {
	min-width: size(55);
	width: size(55);
	min-height: size(73);
	padding: 10px 15px 10px 15px;
	font-size: size(30);
	line-height: size(30);
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .base-link {
	min-width: unset;
	padding: 5px 25px;
  }
  .reviews-block {
	.base-slider {
	  width: 65%;
	}
  }
}
@media (max-width: 400px) {
  .contact-pencil {
	display: none;
  }
}
