@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@keyframes jump {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-top: -1rem;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "almoni";
  font-weight: 300;
  /*(light)*/
  font-style: normal;
  src: url("fonts/almoni/almoni-dl-aaa-300.eot");
  src: url("fonts/almoni/almoni-dl-aaa-300.eot?#iefix") format("embedded-opentype"), url("fonts/almoni/almoni-dl-aaa-300.ttf") format("truetype"), url("fonts/almoni/almoni-dl-aaa-300.woff") format("woff");
}
@font-face {
  font-family: "almoni";
  font-weight: 400;
  /*(regular)*/
  font-style: normal;
  src: url("fonts/almoni/almoni-dl-aaa-400.eot");
  src: url("fonts/almoni/almoni-dl-aaa-400.eot?#iefix") format("embedded-opentype"), url("fonts/almoni/almoni-dl-aaa-400.ttf") format("truetype"), url("fonts/almoni/almoni-dl-aaa-400.woff") format("woff");
}
@font-face {
  font-family: "almoni";
  font-weight: 700;
  /*(bold)*/
  font-style: normal;
  src: url("fonts/almoni/almoni-dl-aaa-700.eot");
  src: url("fonts/almoni/almoni-dl-aaa-700.eot?#iefix") format("embedded-opentype"), url("fonts/almoni/almoni-dl-aaa-700.ttf") format("truetype"), url("fonts/almoni/almoni-dl-aaa-700.woff") format("woff");
}
@font-face {
  font-family: "almoni";
  font-weight: 900;
  /*(black)*/
  font-style: normal;
  src: url("fonts/almoni/almoni-dl-aaa-900.eot");
  src: url("fonts/almoni/almoni-dl-aaa-900.eot?#iefix") format("embedded-opentype"), url("fonts/almoni/almoni-dl-aaa-900.ttf") format("truetype"), url("fonts/almoni/almoni-dl-aaa-900.woff") format("woff");
}
@font-face {
  font-family: "almoni-tzar";
  font-weight: 100;
  /*(light)*/
  font-style: normal;
  src: url("fonts/almoni-tzar/almoni-tzar-aaa-100.eot");
  src: url("fonts/almoni-tzar/almoni-tzar-aaa-100.eot?#iefix") format("embedded-opentype"), url("fonts/almoni-tzar/almoni-tzar-aaa-100.ttf") format("truetype"), url("fonts/almoni-tzar/almoni-tzar-aaa-100.woff") format("woff");
}
@font-face {
  font-family: "almoni-tzar";
  font-weight: 200;
  /*(light)*/
  font-style: normal;
  src: url("fonts/almoni-tzar/almoni-tzar-aaa-200.eot");
  src: url("fonts/almoni-tzar/almoni-tzar-aaa-200.eot?#iefix") format("embedded-opentype"), url("fonts/almoni-tzar/almoni-tzar-aaa-200.ttf") format("truetype"), url("fonts/almoni-tzar/almoni-tzar-aaa-200.woff") format("woff");
}
@font-face {
  font-family: "almoni-tzar";
  font-weight: 300;
  /*(light)*/
  font-style: normal;
  src: url("fonts/almoni-tzar/almoni-tzar-aaa-300.eot");
  src: url("fonts/almoni-tzar/almoni-tzar-aaa-300.eot?#iefix") format("embedded-opentype"), url("fonts/almoni-tzar/almoni-tzar-aaa-300.ttf") format("truetype"), url("fonts/almoni-tzar/almoni-tzar-aaa-300.woff") format("woff");
}
@font-face {
  font-family: "almoni-tzar";
  font-weight: 400;
  /*(regular)*/
  font-style: normal;
  src: url("fonts/almoni-tzar/almoni-tzar-aaa-400.eot");
  src: url("fonts/almoni-tzar/almoni-tzar-aaa-400.eot?#iefix") format("embedded-opentype"), url("fonts/almoni-tzar/almoni-tzar-aaa-400.ttf") format("truetype"), url("fonts/almoni-tzar/almoni-tzar-aaa-400.woff") format("woff");
}
@font-face {
  font-family: "almoni-tzar";
  font-weight: 700;
  /*(bold)*/
  font-style: normal;
  src: url("fonts/almoni-tzar/almoni-tzar-aaa-700.eot");
  src: url("fonts/almoni-tzar/almoni-tzar-aaa-700.eot?#iefix") format("embedded-opentype"), url("fonts/almoni-tzar/almoni-tzar-aaa-700.ttf") format("truetype"), url("fonts/almoni-tzar/almoni-tzar-aaa-700.woff") format("woff");
}
@font-face {
  font-family: "Assistant";
  font-weight: 300;
  /*(light)*/
  font-style: normal;
  src: url("fonts/Assistant/Assistant-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  font-weight: 400;
  /*(regular)*/
  font-style: normal;
  src: url("fonts/Assistant/Assistant-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  font-weight: 700;
  /*(bold)*/
  font-style: normal;
  src: url("fonts/Assistant/Assistant-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  font-weight: 900;
  /*(black)*/
  font-style: normal;
  src: url("fonts/Assistant/Assistant-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans";
  font-weight: 400;
  /*(regular)*/
  font-style: normal;
  src: url("fonts/open-sans-hebrew/open-sans-hebrew-regular.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans";
  font-weight: 700;
  /*(bold)*/
  font-style: normal;
  src: url("fonts/open-sans-hebrew/open-sans-hebrew-bold.ttf") format("truetype");
}
html {
  transition: font-size 0.5s;
}

.rb {
  border: 1px solid red;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rtl {
  direction: rtl;
}

:focus {
  text-decoration: none;
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

button:active, button:focus, input:active, textarea:active,
input:focus, textarea:focus {
  outline: none;
  box-shadow: unset !important;
}

button::-moz-focus-inner, input::-moz-focus-inner, textarea::-moz-focus-inner {
  border: 0;
  box-shadow: unset !important;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
}
.bg-img.img-cover {
  background-size: cover;
}
.bg-img.img-contain {
  background-size: contain;
}

button:focus {
  outline: none !important;
}

.sticky {
  transition: all 0.5s;
}
.sticky.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99999;
  animation-name: stickyHeader;
  animation-duration: 0.5s;
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  direction: rtl;
  overflow-x: hidden;
}

.wpcf7-form .wpcf7-form-control-wrap {
  display: block;
  position: relative;
}
.wpcf7-form ::placeholder {
  color: #000;
  opacity: 1;
}
.wpcf7-form .wpcf7-not-valid-tip {
  left: 0 !important;
  top: 0 !important;
  right: auto !important;
  height: 100%;
  width: 50%;
  line-height: 1;
  text-align: left;
  border: none;
  background: transparent;
}
.wpcf7-form br {
  display: none;
}
.wpcf7-form span {
  display: block;
  position: relative;
}
.wpcf7-form span .wpcf7-not-valid-tip {
  left: 0 !important;
  right: auto !important;
  width: 50%;
  top: 0 !important;
  height: 100%;
  border: none;
  background: red !important;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.wpcf7-form input, .wpcf7-form select {
  width: 100%;
  display: block;
}
.wpcf7-form input[type=submit], .wpcf7-form select[type=submit] {
  width: 100%;
  border: none;
  color: #000;
  background-repeat: no-repeat;
  cursor: pointer;
}

#leos {
  width: 100%;
  background-color: #000;
  text-align: center;
  overflow: hidden;
  line-height: 0;
}
#leos img {
  padding: 10px 0;
  height: 64px;
  width: auto;
}
#leos a {
  position: relative;
  display: inline-block;
}
#leos a:hover span {
  opacity: 1;
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  backface-visibility: visible !important;
  animation-name: flipInY;
}
#leos span {
  opacity: 0;
  position: absolute;
  right: 0;
  color: white;
  bottom: 30px;
  white-space: nowrap;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(100%) perspective(400px) rotateY(-10deg);
    transform: translateX(100%) perspective(400px) rotateY(-10deg);
  }
  70% {
    -webkit-transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(10deg);
    transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(10deg);
  }
  100% {
    -webkit-transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(0deg);
    transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
/* Contact form style Start */
span.wpcf7-form-control-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

/* Red Ballons CSS */
span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip {
  position: absolute;
  bottom: 100%;
  background: #f00;
  border-radius: 5px;
  color: #fff;
  padding: 8px 15px;
  white-space: nowrap;
  left: 5%;
  -webkit-animation: formerror 400ms;
  animation: formerror 400ms;
}

span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip.tip_out {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 10%;
  border-left: 0 solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid #f00;
}

@-webkit-keyframes formerror {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: 100%;
  }
}
@keyframes formerror {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: 100%;
  }
}
/* Input Syles */
input,
div.wpcf7 input,
div.wpcf7 select,
div.wpcf7 textarea,
div.wpcf7 input[type=submit] {
  font-family: "open-sans", sans-serif;
  border: 0;
  padding: 8px 5px;
}

div.wpcf7 input[type=tel],
div.wpcf7 input[type=text],
div.wpcf7 input[type=email],
div.wpcf7 select,
div.wpcf7 textarea {
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}

div.wpcf7 textarea {
  height: 188px;
}

div.wpcf7 input[type=submit] {
  display: block;
  width: 100%;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* Bubble animation for replacing ajax img */
@-webkit-keyframes bubbles {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes bubbles {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
/* Errors Msgs */
div.wpcf7-response-output {
  position: absolute;
  margin: 0 !important;
  border: none;
  padding: 10px 15px;
  bottom: 0;
  z-index: 9999;
  left: 50%;
  background-color: white;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
  -webkit-animation: form_msg_error 500ms;
  animation: form_msg_error 500ms;
  bottom: 0;
  color: black;
}

@-webkit-keyframes form_msg_error {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
@keyframes form_msg_error {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
div.wpcf7-mail-sent-ok {
  background: #398f14;
}

div.wpcf7-validation-errors {
  background: #f7e700;
}

.form_msg_error_out {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

@-webkit-keyframes form_msg_out {
  from {
    bottom: 0;
  }
  to {
    bottom: -300px;
  }
}
@keyframes form_msg_out {
  from {
    bottom: 0;
  }
  to {
    bottom: -300px;
  }
}
::-webkit-input-placeholder {
  color: black;
  font-family: "open-sans", sans-serif;
}

:-moz-placeholder {
  color: black;
  font-family: "open-sans", sans-serif;
}

::-moz-placeholder {
  color: black;
  font-family: "open-sans", sans-serif;
}

:-ms-input-placeholder {
  color: black;
  font-family: "open-sans", sans-serif;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
  box-shadow: none;
  outline: none;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
  box-shadow: none;
  outline: none;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
  box-shadow: none;
  outline: none;
}

/* Contact form style End */
@media (max-width: 768px) {
  #MobNavBtn,
nav#MainNav {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  #MobNavBtn {
    display: block;
    position: absolute;
    top: 10px;
    right: 100%;
    width: 45px;
    height: 45px;
    background: inherit;
    z-index: 9999;
  }

  #MobNavBtn span {
    display: block;
    height: 4px;
    width: 70%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
  }

  #MobNavBtn span:nth-child(1) {
    -webkit-transform: translate(-50%, -280%);
    transform: translate(-50%, -280%);
  }

  #MobNavBtn span:nth-child(2) {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #MobNavBtn span:nth-child(3) {
    -webkit-transform: translate(-50%, 180%);
    transform: translate(-50%, 180%);
  }

  nav.active #MobNavBtn span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }

  nav.active #MobNavBtn span:nth-child(1) {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  nav.active #MobNavBtn span:nth-child(3) {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  nav#MainNav .container,
nav#MainNav div.main_menu {
    width: 100%;
  }

  nav#MainNav {
    display: block;
    position: fixed;
    width: 200px;
    z-index: 999;
    bottom: 0;
    top: 0;
    right: -200px;
    height: 100vh;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  nav#MainNav,
nav#MainNav ul.sub-menu {
    background-color: #231f20 !important;
  }

  nav#MainNav.active {
    right: 0;
  }

  nav#MainNav div.main_menu > ul {
    display: block;
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  nav#MainNav ul li:after {
    display: none;
  }

  nav#MainNav ul li {
    position: relative;
  }

  nav#MainNav ul li a {
    display: block;
    color: #fff;
    padding: 5px 10px;
    width: calc(100% - 20px);
  }

  nav#MainNav div.main_menu > ul > li > a {
    padding: 5px 10px 5px 30px;
    width: calc(100% - 40px);
  }

  nav#MainNav div.main_menu ul li.active,
nav#MainNav div.main_menu ul li.current-menu-item {
    background-color: #3b3a3a;
  }

  nav#MainNav div.main_menu ul.active .back-to-menu:after,
nav#MainNav div.main_menu ul li.menu-item-has-children:after {
    display: block;
    content: "";
    position: absolute;
    top: 12px;
    left: 6px;
    width: 16px;
    height: 16px;
    background: url(../iconsall/wmob-menu-arrow.svg) center center no-repeat;
    background-size: contain;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  nav#MainNav div.main_menu ul.active .back-to-menu:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  nav#MainNav div.main_menu ul.active li.menu-item-has-children {
    padding: 0;
    width: 100%;
  }

  nav#MainNav div.main_menu ul.active li.menu-item-has-children:after {
    display: none;
  }

  ul.sub-menu {
    display: none;
  }

  nav#MainNav div.main_menu > ul > li > ul.sub-menu {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    background-color: inherit;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  nav#MainNav div.main_menu > ul > li > ul.sub-menu.chekd {
    height: 0;
    position: relative;
    visibility: visible;
    pointer-events: auto;
  }

  nav#MainNav ul.sub-menu li:not(.back-to-menu) {
    display: block;
    width: calc(100% - 10px);
    margin: 0 auto 0 0;
    padding: 0;
    position: relative;
  }

  nav#MainNav ul.sub-menu li:nth-child(1),
nav#MainNav ul.sub-menu li:nth-child(2) {
    margin: 0;
    width: 100%;
  }

  nav#MainNav div.main_menu > ul > li.active > ul.sub-menu {
    opacity: 1;
  }

  nav#MainNav div.main_menu > ul.active > li > a {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  nav#MainNav .back-to-menu {
    cursor: pointer;
  }
}
.debug {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  padding: 10px;
}
.debug p {
  color: #fff;
  font-size: 16px !important;
}

header {
  padding: 18px calc(5% - 15px);
}

#MainNav ul li a {
  font-size: 0.9090909091rem;
  line-height: 1.5rem;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  max-height: 2.5454545455rem;
}

.header-tel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-tel img {
  width: 0.8181818182rem;
  margin-left: 6px;
}

.tel-number {
  color: #ffffff;
  font-size: 0.9090909091rem;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5rem;
  text-align: center;
}

.pop-form, .pop-form-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.52);
  transition: opacity 0.5s;
}
.pop-form.show-popup, .pop-form-search.show-popup {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s;
}

.curr-body-hidden {
  overflow: hidden;
}

.float-form, .float-form-search {
  position: relative;
  width: 100%;
  max-height: 100vh;
  transition: all 0.5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  border: 1px solid #ffffff;
  background-color: #e2edf5;
  background-image: url("../img/pop-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  padding: 3.6363636364rem 5% 40px 5%;
}
.float-form .wpcf7, .float-form-search .wpcf7 {
  max-width: 14.2272727273rem;
}
.float-form.show-float-form, .float-form-search.show-float-form {
  opacity: 1;
  transform: translateY(0);
}

.pop-form-title, .pop-form-subtitle,
.base-form-title, .base-form-subtitle {
  color: #ffffff;
  text-align: center;
}

.pop-form-title, .base-form-title {
  font-size: 1.6363636364rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.pop-form-title {
  text-shadow: -4px 1px 17px rgba(0, 0, 0, 0.32);
}

.pop-form-subtitle, .base-form-subtitle {
  font-size: 1.2272727273rem;
  line-height: 1.5rem;
}

.pop-form-subtitle {
  font-weight: 400;
  text-shadow: 0 4px 22px rgba(0, 0, 0, 0.54);
  margin-bottom: 25px;
}

.base-form-subtitle {
  margin-bottom: 10px;
  font-weight: 300;
}

.close-form {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.pop-trigger, .social-link-item {
  cursor: pointer;
  margin-bottom: 12px;
}
.pop-trigger img, .social-link-item img {
  width: 1.5909090909rem;
}

.triggers-col {
  position: fixed;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 9999;
  bottom: 0;
}

.footer-main {
  position: relative;
  padding-top: 40px;
  padding-bottom: 150px;
}

.foo-menu {
  padding-top: 50px;
}

.foo-title {
  color: #ffffff;
  font-size: 0.9090909091rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1rem;
  margin-bottom: 10px;
}

.menu-border-top {
  padding-top: 18px;
}

footer {
  position: relative;
}
footer li a {
  display: flex;
  font-size: 0.7272727273rem;
  line-height: 0.7727272727rem;
  font-weight: 300;
  margin-bottom: 20px;
  color: #ffffff;
  transition: color 0.5s;
}
footer li a:hover {
  color: #97834a;
  transition: color 0.5s;
}

.foo-after-title {
  position: relative;
}
.foo-after-title:after {
  position: absolute;
  content: "";
  display: block;
  width: calc(100% - 30px);
  background-color: #97834a;
  height: 3px;
  top: 75px;
  right: 15px;
}

.hop-hey.two-columns {
  column-count: 2;
  column-gap: 5%;
}

#go-top {
  position: absolute;
  top: -20px;
  right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}
#go-top img {
  width: 2.9090909091rem;
  animation: jump-top 1.2s ease-in-out alternate infinite;
}

.top-text {
  font-size: 1rem;
  line-height: 0.9090909091rem;
  text-shadow: -2px 1px 8px rgba(0, 0, 0, 0.64);
  text-align: center;
  font-weight: 400;
  color: #ffffff;
}

.faq {
  background-color: #ffffff;
  padding: 5.7272727273rem 0 50px 0;
}
.faq .card {
  border: none !important;
}
.faq .question-card {
  margin-bottom: 15px;
}
.faq .answer-body {
  padding: 20px 20px 30px 20px;
}
.faq .contact-pencil {
  width: 8%;
}

.title-wrap-faq {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.faq-title-main {
  font-size: 1.2272727273rem;
  line-height: 1.5rem;
  color: #231f20;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 20px;
}

.faq-back {
  background-image: url("../img/faq-back.png");
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  min-height: 3.3181818182rem;
  border-radius: 0;
  border: 1px solid #acacac;
  background-color: #ffffff;
  padding: 0;
}
.question-title.active-faq .faq-icon {
  background-color: #97834a;
  transition: background-color 0.5s;
}

.faq-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  width: 4rem;
  min-height: 3.3181818182rem;
  padding: 10px 35px 10px 35px;
  border: 2px solid #acacac;
  background-color: #231f20;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.7727272727rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.8181818182rem;
  text-align: center;
  transition: background-color 0.5s;
}

.faq-body-title {
  display: flex;
  align-items: center;
  font-size: 0.8181818182rem;
  line-height: 1.5rem;
  color: #231f20;
  font-weight: 400;
  text-align: right;
  padding: 10px 20px;
  transition: color 0.5s;
}

.question-header {
  border-radius: 0;
  background-color: transparent;
}

.answer-body {
  border: 1px solid #acacac;
  border-top: none !important;
}

.arrows-slider [dir=rtl] .slick-prev, .arrows-slider [dir=rtl] .slick-next {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 0.6818181818rem;
  height: 1.0454545455rem;
  z-index: 33;
}
.arrows-slider [dir=rtl] .slick-next {
  background-image: url("../iconsall/arrow-left.png");
}
.arrows-slider [dir=rtl] .slick-prev {
  background-image: url("../iconsall/arrow-right.png");
}
.arrows-slider .slick-prev:before, .arrows-slider .slick-next:before {
  color: transparent;
}

.arrows-slider-base [dir=rtl] .slick-prev, .arrows-slider-base [dir=rtl] .slick-next {
  width: 0.4090909091rem;
  height: 0.6363636364rem;
  z-index: 33;
  top: unset;
  bottom: -1.5rem;
}
.arrows-slider-base [dir=rtl] .slick-next {
  left: 0;
}
.arrows-slider-base [dir=rtl] .slick-prev {
  right: unset;
  left: 2rem;
}

.base-slider-block {
  position: relative;
  padding: 6.8181818182rem 0;
  background-color: #3a3a3a;
}

.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-img-col img {
  width: 100%;
}

.col-post {
  margin-bottom: 30px;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  transition: margin-top 0.5s;
}
.post-card:hover {
  margin-top: -1rem;
  transition: margin-top 0.5s;
}
.post-card:hover .post-card-content {
  height: auto;
  opacity: 1;
  transition: height, opacity 0.5s;
}
.post-card:hover .post-title-wrap {
  border: 1px solid #1a1a1a;
  background-color: #ffffff;
  transition: background-color, border 0.5s;
}
.post-card:hover .post-title-wrap .post-card-title {
  color: #231f20;
  transition: color 0.5s;
}
.post-card:hover .post-card-title:after {
  background-image: url("../iconsall/hover-arrow.png");
}

.post-img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.post-img:after {
  display: block;
  content: "";
  padding-bottom: calc(100% + 64px);
}

.post-prod-img:after {
  padding-bottom: calc(100% + 10px);
}

.card-content-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.post-card-content {
  flex-grow: 1;
  background-image: url("../img/post-overlay.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow-y: auto;
  padding: 16px 30px;
  transition: height, opacity 0.5s;
}

.post-title-wrap {
  background-color: #97834a;
  padding: 0.9090909091rem 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.9090909091rem;
  border: 1px solid transparent;
  transition: background-color, border 0.5s;
}

.post-small-text {
  font-size: 0.7272727273rem;
  line-height: 0.9090909091rem;
  text-align: center;
  color: #ffffff;
}

.post-card-title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.post-card-title:after {
  display: block;
  content: "";
  background-image: url("../iconsall/link-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.4090909091rem;
  width: 0.4090909091rem;
  height: 0.6363636364rem;
  position: absolute;
  left: 0;
}

.product-card-title {
  color: #ffffff;
  font-size: 0.9090909091rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5rem;
  text-align: center;
}

.home-form-block {
  margin: 15px 0;
}

.hidden-input-col {
  display: none;
}

.serv-id {
  display: none;
}

.wpcf7-form * {
  direction: rtl !important;
}
.wpcf7-form ::placeholder {
  color: #ffffff;
  font-size: 0.6818181818rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 0.9090909091rem;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  color: #ffffff;
  font-size: 0.6818181818rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 0.9090909091rem;
}

div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  color: #ffffff;
  font-size: 0.6818181818rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 0.9090909091rem;
  height: 2.0909090909rem;
  background-color: transparent !important;
  background-size: 0.7727272727rem;
  background-position: calc(100% - 13px);
  background-repeat: no-repeat;
  padding-right: 2.0454545455rem;
  border: 1px solid #ffffff;
}

div.wpcf7 textarea {
  height: 182px;
  background-position: calc(100% - 13px) 10px;
  background-image: url("../iconsall/form-textarea.png");
}

div.wpcf7 input[type=text] {
  background-image: url("../iconsall/form-name.png");
}

div.wpcf7 input[type=tel] {
  background-image: url("../iconsall/form-tel.png");
}

div.wpcf7 input[type=email] {
  background-image: url("../iconsall/form-mail.png");
}

div.wpcf7 input[type=submit] {
  font-weight: 400;
  font-size: 0.8636363636rem;
  text-align: center;
  height: 2.0909090909rem;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #97834a !important;
  transition: transform 0.5s;
}
div.wpcf7 input[type=submit]:hover {
  transform: scale(0.95, 0.95);
  transition: transform 0.5s;
}

.footer-main div.wpcf7 input[type=submit] {
  padding: 5px 40px;
}

.black-inputs .wpcf7-form ::placeholder, .inverse-repeat-form .wpcf7-form ::placeholder {
  color: #231f20;
}
.black-inputs .wpcf7-form ::-webkit-input-placeholder, .black-inputs .wpcf7-form :-moz-placeholder, .black-inputs .wpcf7-form :-ms-input-placeholder, .inverse-repeat-form .wpcf7-form ::-webkit-input-placeholder, .inverse-repeat-form .wpcf7-form :-moz-placeholder, .inverse-repeat-form .wpcf7-form :-ms-input-placeholder {
  color: #231f20;
}
.black-inputs div.wpcf7 input[type=text], .black-inputs div.wpcf7 input[type=tel], .inverse-repeat-form div.wpcf7 input[type=text], .inverse-repeat-form div.wpcf7 input[type=tel] {
  border: 1px solid #231f20;
  color: #231f20;
}
.black-inputs div.wpcf7 input[type=text], .inverse-repeat-form div.wpcf7 input[type=text] {
  background-image: url("../iconsall/form-name-black.png");
}
.black-inputs div.wpcf7 input[type=tel], .inverse-repeat-form div.wpcf7 input[type=tel] {
  background-image: url("../iconsall/form-tel-black.png");
}

.black-inputs div.wpcf7 input {
  height: 1.5909090909rem;
}
.black-inputs .wpcf7-form ::placeholder {
  color: #231f20;
  font-size: 0.6363636364rem;
  line-height: 0.7272727273rem;
}
.black-inputs .wpcf7-form ::-webkit-input-placeholder, .black-inputs .wpcf7-form :-moz-placeholder, .black-inputs .wpcf7-form :-ms-input-placeholder {
  color: #231f20;
  font-size: 0.6363636364rem;
  line-height: 0.7272727273rem;
}
.black-inputs div.wpcf7 input[type=text], .black-inputs div.wpcf7 input[type=tel] {
  padding-right: 1.5909090909rem;
  color: #231f20;
  font-size: 0.6363636364rem;
  line-height: 0.7272727273rem;
  background-position: calc(100% - 9px) center;
}
.black-inputs div.wpcf7 input[type=text] {
  background-size: 0.7272727273rem;
}
.black-inputs div.wpcf7 input[type=tel] {
  background-size: 0.5909090909rem;
}
.black-inputs div.wpcf7 input[type=submit] {
  line-height: 0.55rem;
}

.repeat-form-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/form-back.png");
}

.repeat-form-overlay {
  padding: 60px 0 20px 0;
  background-color: rgba(0, 0, 0, 0.54);
}

.inverse-repeat-form .repeat-form-overlay {
  background-color: rgba(255, 255, 255, 0.54);
}
.inverse-repeat-form .base-form-subtitle, .inverse-repeat-form .base-form-title {
  color: #231f20;
}

body {
  font-family: "open-sans", sans-serif;
  text-align: right;
  background-color: #1f1f1f;
}

.wow {
  visibility: hidden;
}

.base-title {
  color: #000000;
  margin-bottom: 50px;
}

.base-title, .top-title {
  font-size: 1.8181818182rem;
  line-height: 1.9090909091rem;
  text-align: center;
  font-weight: 700;
}

.top-title {
  text-shadow: 0 0 14px rgba(0, 2, 13, 0.82);
  color: #ffffff;
}

.top-page {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-page-overlay {
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.base-output * {
  color: #ffffff;
}
.base-output h1 {
  font-size: 1.6363636364rem;
  line-height: 2rem;
}
.base-output h2 {
  font-size: 1.2272727273rem;
  line-height: 1.5rem;
}
.base-output h3 {
  font-size: 1.0909090909rem;
  line-height: 1.2727272727rem;
}
.base-output h1, .base-output h2, .base-output h3, .base-output h4, .base-output h5, .base-output h6 {
  font-weight: 700;
  margin-bottom: 1.8181818182rem;
}
.base-output h4 {
  font-size: 1rem;
  line-height: 1.1818181818rem;
}
.base-output h5 {
  font-size: 0.9090909091rem;
  line-height: 1rem;
}
.base-output h6 {
  font-size: 0.8181818182rem;
  line-height: 1.5rem;
}
.base-output p, .base-output li {
  font-size: 0.8181818182rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.base-output ul {
  list-style: disc;
  margin: 1rem;
}

.slider-output {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.slider-output h1, .slider-output h2, .slider-output h3, .slider-output h4, .slider-output h5, .slider-output h6 {
  position: relative;
  font-weight: 400;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.slider-output h1:after, .slider-output h2:after, .slider-output h3:after, .slider-output h4:after, .slider-output h5:after, .slider-output h6:after {
  content: "";
  display: block;
  background-image: url("../iconsall/title.png");
  position: absolute;
  bottom: -20px;
  height: 33px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(100% - 2rem);
  right: 1rem;
}

.post-output p, .post-output li {
  font-size: 0.7272727273rem;
  line-height: 1.1363636364rem;
}
.post-output p {
  margin-bottom: 30px;
}

.about-content-output p {
  margin-bottom: 20px;
}

.faq-output * {
  color: #231f20;
}

.page-title {
  font-size: 1.8181818182rem;
  line-height: 2.0454545455rem;
  text-align: center;
  text-shadow: 0 0 14px rgba(0, 2, 13, 0.82);
  color: #ffffff;
  font-weight: 700;
}

.base-text {
  font-size: 0.8181818182rem;
  line-height: 1.5rem;
  color: #231f20;
  font-weight: 400;
}

.white-back .base-output * {
  color: #231f20;
}

.why-item-title, .post-card-title {
  font-size: 0.8181818182rem;
  line-height: 1.5rem;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.post-card-title {
  line-height: 1.0909090909rem;
  transition: color 0.5s;
}

.with-line-title {
  position: relative;
  font-size: 1.2272727273rem;
  line-height: 1.5rem;
  color: #231f20;
  text-align: center;
  overflow: hidden;
  margin: 4.0909090909rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 32%;
}
.with-line-title:before, .with-line-title:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 22px;
  background-image: url("../iconsall/title.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex: 0 0 32%;
  max-width: 32%;
}
.with-line-title:before {
  right: 0;
  background-position: right center;
}
.with-line-title:after {
  left: 0;
  background-position: left center;
}

.padding-block {
  padding: 0 5%;
}

.white-back {
  background-color: #ffffff;
}

.base-link, .base-link-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  text-align: center;
  margin-top: 40px;
  transition: color, background-color 0.5s;
}
.base-link:hover, .base-link-about:hover {
  transition: color, background-color 0.5s;
}

.base-link {
  min-width: 12.6363636364rem;
  height: 1.7727272727rem;
  font-size: 0.9090909091rem;
  line-height: 1.5rem;
  font-weight: 700;
  border: 1px solid #97834a;
  color: #231f20;
}
.base-link:hover {
  background-color: #97834a;
  color: #ffffff;
}

.base-link-reverse {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.base-link-reverse:hover {
  background-color: #97834a;
  color: #231f20;
}

.border-link-gold {
  border: 1px solid #97834a;
}

.base-link-about {
  min-width: 7.3181818182rem;
  height: 1.9090909091rem;
  font-size: 0.7727272727rem;
  line-height: 0.9090909091rem;
  font-weight: 400;
}
.base-link-about:hover {
  border: 1px solid #97834a;
}

.after-image {
  position: relative;
  margin: 0 0 20px 60px;
  width: 100%;
}
.after-image img {
  width: 100%;
  position: relative;
  z-index: 8;
}
.after-image:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #97834a;
  left: -20px;
  bottom: -20px;
}

.about-img-wrap .after-image {
  margin: 10px;
}
.about-img-wrap .after-image:after {
  left: unset;
  right: -10px;
  bottom: -10px;
}

.dark-home-slider .after-image:after {
  left: unset;
  right: -20px;
  bottom: -20px;
}

.slide-main {
  height: 80vh;
  max-height: 692px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.slide-main-overlay {
  background-color: rgba(0, 0, 0, 0.34);
  width: 100%;
  height: 100%;
}

.main-block .slick-dots {
  bottom: 30px;
  left: 25px;
  display: flex;
  justify-content: flex-end;
}
.main-block ul.slick-dots li {
  margin: 0 1.5px;
}
.main-block ul.slick-dots li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: transparent;
  opacity: 1 !important;
}
.main-block ul.slick-dots li button:before {
  top: unset;
  left: unset;
  color: #ffffff;
  opacity: 0 !important;
  font-size: 0.4rem;
}
.main-block ul.slick-dots li.slick-active button {
  background-color: #ffffff;
}

.main-slider-wrap {
  position: relative;
}

.content-main-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 80px;
}

.logo-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.logo-home img {
  max-height: 8.1818181818rem;
}

.home-main-title {
  text-shadow: -4px 1px 8px rgba(0, 0, 0, 0.92);
  color: #ffffff;
  font-size: 1.8636363636rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.2727272727rem;
  text-align: center;
  margin-bottom: 25px;
}

.home-main-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 279px;
  min-height: 2.8181818182rem;
  box-shadow: 0 2px 16px 1px rgba(0, 0, 0, 0.78);
  border: 1px solid #ffffff;
  background-color: #97834a;
  padding: 5px 30px;
  color: #ffffff;
  font-size: 1.7727272727rem;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.2727272727rem;
  text-align: center;
  margin-bottom: 17px;
  transition: color, background-color 0.5s;
}
.home-main-link:hover {
  background-color: #231f20;
  color: #97834a;
  transition: color, background-color 0.5s;
}

.gallery-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 13px 20px 13px;
  border: 1px solid #97834a;
  background-color: #ffffff;
  height: 100%;
  transition: background-color 0.5s;
}
.gallery-link:after {
  content: "";
  position: absolute;
  bottom: 10px;
  display: block;
  width: calc(100% - 26px);
  height: 8px;
  background-image: url("../iconsall/cat-title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.gallery-link:hover {
  background-color: #1f1f1f;
  transition: background-color 0.5s;
}
.gallery-link:hover .first-gallery-title {
  color: #ffffff;
  transition: color 0.5s;
}
.gallery-link:hover:after {
  background-image: url("../iconsall/cat-title-hover.png");
}

.col-no-pads {
  padding: 0 1px;
}

.first-gallery-title, .all-gallery-title {
  font-size: 1.1363636364rem;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.0909090909rem;
  text-align: center;
}

.first-gallery-title {
  color: #1f1f1f;
  font-weight: 400;
  transition: color 0.5s;
}

.all-gallery-title {
  font-weight: 700;
  color: #97834a;
  margin-bottom: 10px;
}

.benefits-block {
  margin: 40px 0;
}
.benefits-block .with-line-title {
  color: #ffffff;
}

.why-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}

.icon-wrap-why {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.6363636364rem;
  margin-bottom: 20px;
}

.home-posts {
  padding-bottom: 4.0909090909rem;
}
.home-posts .slick-slider .slick-track, .home-posts .slick-slider .slick-list {
  display: flex !important;
}

.home-about-block {
  padding-bottom: 2.7272727273rem;
}

.prod-slide {
  padding: 1rem 15px;
}

.dark-home-slider .base-slider-block {
  background-color: #1f1f1f;
}
.dark-home-slider .slider-row {
  flex-direction: row-reverse;
}
.dark-home-slider .slider-output {
  padding-left: 30%;
}
.dark-home-slider [dir=rtl] .slick-next {
  left: 2rem;
}
.dark-home-slider [dir=rtl] .slick-prev {
  right: unset;
  left: 4rem;
}

.about-years {
  position: absolute;
  right: -20%;
  bottom: 10%;
  z-index: 9;
  text-shadow: 0 7px 8px rgba(0, 0, 0, 0.85);
  color: #ffffff;
  font-size: 3.5909090909rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 3.2727272727rem;
  text-align: left;
}

.about-img-wrap {
  position: relative;
}
.about-img-wrap .after-image {
  width: calc(100% - 40px);
}

.home-products {
  background-color: #3a3a3a;
  padding-bottom: 10px;
  margin-bottom: -1px;
}

.reviews-block {
  background-color: #fefefe;
}
.reviews-block [dir=rtl] .slick-prev, .reviews-block [dir=rtl] .slick-next {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.1363636364rem;
  height: 1.7727272727rem;
  z-index: 33;
}
.reviews-block [dir=rtl] .slick-next {
  background-image: url("../iconsall/rev-arrow-left.png");
  left: -2rem;
}
.reviews-block [dir=rtl] .slick-prev {
  background-image: url("../iconsall/rev-arrow-right.png");
  right: -2rem;
}
.reviews-block .slick-prev:before, .reviews-block .slick-next:before {
  color: transparent;
}
.reviews-block .base-slider {
  width: 26.9%;
}

.reviews-back {
  background-image: url("../img/reviews-back.png");
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 47px;
  padding-bottom: 5%;
}

.reviews-title {
  position: relative;
  font-size: 1.6363636364rem;
  line-height: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 125px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reviews-title:after {
  content: "";
  display: block;
  background-image: url("../iconsall/title.png");
  position: absolute;
  bottom: 0;
  height: 13px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(100% - 10px);
}

.with-line-white {
  color: #ffffff;
}

.post-body .with-line-title {
  margin: 2.0454545455rem;
}

.post-image-wrap {
  width: 35.4%;
  float: left;
  margin: 0 13.5% 0 0;
}

.page-about-image-wrap {
  width: 50%;
  float: left;
  margin: 0 3.3636363636rem 2.2727272727rem 0;
}
.page-about-image-wrap .after-image {
  width: 100%;
}

.post-thumb-main {
  margin-bottom: 13px;
  width: 100%;
}

.post-form-wrap {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/post-form-back.png");
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 37px 7% 15px 7%;
}

.post-form-title, .post-form-subtitle {
  text-align: center;
  color: #231f20;
  margin-bottom: 12px;
}

.post-form-title {
  font-size: 1.3636363636rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.post-form-subtitle {
  font-size: 1rem;
  line-height: 1.5454545455rem;
  font-weight: 300;
}

.same-posts {
  margin-bottom: 70px;
}

.pencil-relative-block {
  position: relative;
}

.contact-pencil {
  position: absolute;
  left: -1.5rem;
  top: -10px;
  width: 12%;
  z-index: 9;
}

.contact-page .with-line-title {
  margin: 30px 0 55px 0;
}

.form-contact-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/contact-form-back.png");
  margin-bottom: 18px;
}

.pad-block-contact, .form-contact-block {
  padding: 50px 7% 20px 7%;
}

ul.contact-list {
  margin-bottom: 30px;
}

.contact-info-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-info-item:hover {
  color: #97834a;
  transition: color 0.5s;
}

.contact-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 39px;
  width: 39px;
  height: 39px;
  border: 1px solid #000000;
  padding: 7px;
  margin-left: 15px;
}
.contact-icon-wrap img {
  max-height: 100%;
}

.contact-item-title {
  color: #1f1f1f;
  font-size: 1.0454545455rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.3636363636rem;
  white-space: nowrap;
  transition: color 0.5s;
}

.contact-item {
  margin-bottom: 30px;
}

.gallery-page-title {
  font-size: 1.2272727273rem;
  line-height: 1.5rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 400;
}

.pro-form-title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5rem;
  text-align: center;
}

.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 20px 0;
}

.social-share-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
}
.social-share-link img {
  max-height: 1rem;
}

.project-output {
  margin-bottom: 50px;
}

.gallery-slider-wrap {
  display: flex;
  align-items: stretch;
}
.gallery-slider-wrap .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.gallery-slider-wrap .slick-dots {
  bottom: unset;
  top: calc(100% + 10px);
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.gallery-slider-wrap .slick-dots li button:before {
  color: #ffffff;
}

.gallery-slider {
  flex: 0 0 60%;
  max-width: 60%;
}

.thumbs {
  flex: 0 0 40%;
  max-width: 40%;
}
.big-slider-item, .thumb-item {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.big-slider-item:after, .thumb-item:after {
  content: "";
  display: block;
  padding-bottom: 134%;
}
.big-slider-item:hover .gallery-trigger, .thumb-item:hover .gallery-trigger {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}

.gallery-image:hover .gallery-trigger {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}

.gallery-trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff !important;
  font-size: 49px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 70px;
  text-align: center;
  background-color: rgba(31, 31, 31, 0.45);
  transition: opacity 0.5s;
}

.big-slider-item {
  height: 100%;
}

.gallery-slider.slick-slider .slick-track, .gallery-slider.slick-slider .slick-list {
  height: 100%;
}
.gallery-slider.slick-slider .slick-track .slick-slide, .gallery-slider.slick-slider .slick-list .slick-slide {
  height: 100%;
}

.big-slider-item, .thumb-item {
  background-color: #ffffff;
}

.thumb-item {
  min-height: 100px;
}
.thumb-item:after {
  padding-bottom: 65%;
}

.blog-body .with-line-title {
  margin: 40px 0 80px 0;
}

.more-link.loading img {
  display: none;
}
.more-link .fas {
  color: #97834a;
}
.more-link.hide {
  display: none;
}

.gallery-image {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.gallery-image:after {
  display: block;
  content: "";
  padding-bottom: 76%;
}

.gallery-chunk {
  display: none;
}
.gallery-chunk.show {
  display: block;
}

/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
@media (min-width: 1920px) {
  html {
    font-size: 22px;
  }
}
@media (max-width: 1300px) {
  .contact-pencil {
    display: none;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html {
    font-size: 20px;
  }

  .dark-home-slider .slider-output {
    padding-left: 10%;
  }
  .dark-home-slider [dir=rtl] .slick-next {
    left: 1rem;
  }
  .dark-home-slider [dir=rtl] .slick-prev {
    left: 3rem;
  }

  .about-years {
    right: -20px;
    bottom: 2rem;
  }

  .after-image {
    margin: 0 0 20px 20px;
  }

  .post-image-wrap {
    margin: 0 5.5% 0 0;
  }

  .post-form-title {
    font-size: 1.2272727273rem;
    line-height: 1.5rem;
  }

  .post-form-subtitle {
    font-size: 0.9090909091rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 1199px) {
  .contact-pencil {
    display: block;
  }
}
@media (max-width: 1050px) {
  .contact-pencil {
    left: 0;
    top: unset;
    bottom: 0;
  }

  #MainNav ul li {
    margin: 0 10px;
  }
  #MainNav ul li a {
    font-size: 0.7727272727rem;
    line-height: 0.9090909091rem;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html {
    font-size: 19px;
  }

  .contacts-footer-menu {
    order: 2;
  }

  .foo-links-menu {
    order: 3;
    position: relative;
  }
  .foo-links-menu:after {
    position: absolute;
    content: "";
    display: block;
    width: calc(100% - 30px);
    background-color: #97834a;
    height: 3px;
    top: 75px;
    right: 15px;
  }

  .faq-back {
    background-image: none;
  }

  .faq .contact-pencil {
    display: none;
  }

  .dark-home-slider .slider-output {
    padding-left: 0;
  }
  .dark-home-slider [dir=rtl] .slick-next {
    left: 0;
  }
  .dark-home-slider [dir=rtl] .slick-prev {
    left: 2rem;
  }

  .slider-img-col, .about-img-wrap {
    margin-bottom: 2rem;
  }

  .contact-pencil {
    width: 15%;
  }

  .page-about-image-wrap {
    margin: 0 1.5454545455rem 1.3636363636rem 0;
  }
}
@media (min-width: 1050px) and (max-width: 769px) {
  #MainNav ul li {
    margin: 0 10px;
  }
  #MainNav ul li a {
    font-size: 0.7272727273rem;
    line-height: 0.8181818182rem;
  }
}
@media (min-width: 769px) {
  #MainNav ul {
    display: flex;
    height: 100%;
  }
  #MainNav ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0.9090909091rem;
  }
  #MainNav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9090909091rem;
    line-height: 1.5rem;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
  }

  header #MainNav ul.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 99999;
    height: auto;
    padding: 0.9090909091rem;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
    min-width: 175px;
  }
  header #MainNav ul.sub-menu .back-to-menu, header #MainNav ul.sub-menu .sub-head {
    display: none;
  }
  header #MainNav ul.sub-menu li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7272727273rem;
    line-height: 0.8181818182rem;
    text-align: center;
    color: #231f20;
    font-weight: 400;
    margin-bottom: 30px;
    transition: font-weight 0.5s;
  }
  header #MainNav ul.sub-menu li a:after {
    position: absolute;
    bottom: -5px;
    content: "";
    width: 80%;
    height: 1px;
    display: block;
    background-color: #97834a;
    opacity: 0;
    transition: opacity 0.5s;
  }
  header #MainNav ul.sub-menu li a:hover {
    font-weight: 700;
    transition: font-weight 0.5s;
  }
  header #MainNav ul.sub-menu li a:hover:after {
    opacity: 1;
    transition: opacity 0.5s;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html {
    font-size: 18px;
  }

  .post-content-col {
    display: flex;
    flex-direction: column;
  }

  .post-order-content {
    order: -1;
  }

  .post-image-wrap, .page-about-image-wrap {
    float: unset;
    width: 100%;
    margin: 2rem 0 0 0;
    order: 2;
  }

  .post-form-title {
    font-size: 1.3636363636rem;
    line-height: 1.5rem;
  }

  .post-form-subtitle {
    font-size: 1rem;
    line-height: 1.5454545455rem;
  }

  .contact-item {
    padding: 0;
  }

  .contact-pencil {
    width: 20%;
  }

  header {
    padding: 18px calc(5% + 15px) 18px calc(5%);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html {
    font-size: 17px;
  }

  .col-arrows {
    padding: 0 35px;
  }

  .about-years {
    right: 0;
    bottom: -20px;
  }

  .about-img-wrap {
    margin-top: 2rem;
  }
  .about-img-wrap .after-image {
    width: calc(100% - 20px);
  }

  .pop-form-title {
    font-size: 1.2272727273rem;
    line-height: 1.5rem;
  }

  .pop-form-subtitle {
    font-size: 0.9090909091rem;
    line-height: 1.5rem;
  }

  .with-line-title {
    padding: 30px 0;
  }
  .with-line-title:before, .with-line-title:after {
    flex: 0 0 50%;
    max-width: 50%;
    background-position: center;
  }
  .with-line-title:before {
    right: unset;
    top: 0;
  }
  .with-line-title:after {
    left: unset;
    bottom: 0;
  }

  .home-main-link {
    min-width: unset;
    padding: 5px 20px;
    font-size: 1.3636363636rem;
    line-height: 1.8181818182rem;
  }

  .reviews-back {
    margin: 0 -15px;
    background-size: cover;
    padding-bottom: 15%;
  }

  .reviews-block .base-slider {
    width: 55%;
  }
  .reviews-block [dir=rtl] .slick-next {
    left: -3rem;
  }
  .reviews-block [dir=rtl] .slick-prev {
    background-image: url("../iconsall/rev-arrow-right.png");
    right: -3rem;
  }

  .faq-icon {
    min-width: 2.5rem;
    width: 2.5rem;
    min-height: 3.3181818182rem;
    padding: 10px 15px 10px 15px;
    font-size: 1.3636363636rem;
    line-height: 1.3636363636rem;
  }

  .hop-hey.two-columns {
    column-count: 1;
    column-gap: unset;
  }
}
/*
::::: Custom media queries :::::
*/
@media (max-width: 450px) {
  .base-link {
    min-width: unset;
    padding: 5px 25px;
  }

  .reviews-block .base-slider {
    width: 65%;
  }
}
@media (max-width: 400px) {
  .contact-pencil {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
