@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "header-footer";
//@import "hover";
@import "partials";
@import "forms";



body{
  font-family: $open-sans;
  text-align: right;
  background-color: #1f1f1f;
}
.wow {
  visibility: hidden;
}
.base-title {
  color: #000000;
  margin-bottom: 50px;
}
.base-title, .top-title {
  font-size: size(40);
  line-height: size(42);
  text-align: center;
  font-weight: 700;
}
.top-title {
  text-shadow: 0 0 14px rgba(0, 2, 13, 0.82);
  color: #ffffff;
}
.top-page {
  position: relative;
  @include back-img;
}
.top-page-overlay {
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.45);
}
.base-output {
  * {
	color: #ffffff;
  }
  h1 {
	@include large-title;
  }
  h2 {
	@include base-title;
  }
  h3 {
	font-size: size(24);
	line-height: size(28);
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-bottom: size(40);
  }
  h4 {
	font-size: size(22);
	line-height: size(26);
  }
  h5 {
	font-size: size(20);
	line-height: size(22);
  }
  h6 {
	@include base-text;
  }
  p, li {
	@include base-text;
	font-weight: 400;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.slider-output {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h1, h2, h3, h4, h5, h6 {
	position: relative;
	font-weight: 400;
	margin-bottom: 40px;
	padding-bottom: 20px;
	&:after {
	  content: '';
	  display: block;
	  background-image: url("../iconsall/title.png");
	  position: absolute;
	  bottom: -20px;
	  height: 33px;
	  background-size: contain;
	  background-position: center;
	  background-repeat: no-repeat;
	  width: calc(100% - 2rem);
	  right: 1rem;
	}
  }
}
.post-output {
  p, li {
	font-size: size(16);
	line-height: size(25);
  }
  p {
	margin-bottom: 30px;
  }
}
.about-content-output {
  p {
	margin-bottom: 20px;
  }
}
.faq-output {
  * {
	color: $text-main;
  }
}
.page-title {
  font-size: size(40);
  line-height: size(45);
  text-align: center;
  text-shadow: 0 0 14px rgba(0, 2, 13, 0.82);
  color: #ffffff;
  font-weight: 700;
}
.base-text {
  @include base-text;
  color: $text-main;
  font-weight: 400;
}
.white-back .base-output * {
  color: $text-main;
}
.why-item-title, .post-card-title {
  @include base-text;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
.post-card-title {
  line-height: size(24);
  transition: color .5s;
}
.with-line-title {
  position: relative;
  @include base-title;
  color: $text-main;
  text-align: center;
  overflow: hidden;
  margin: size(90) 0;
  @include d-center;
  flex-wrap: wrap;
  padding: 0 32%;
  &:before,
  &:after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 22px;
	background-image: url("../iconsall/title.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	//position: relative;
	flex: 0 0 32%;
	max-width: 32%;
  }
  &:before {
	right: 0;
	background-position: right center;
  }
  &:after {
	left: 0;
	background-position: left center;
  }
}
.padding-block {
  padding: 0 5%;
}
.white-back {
  background-color: #ffffff;
}
.base-link, .base-link-about {
  @include d-center;
  padding: 5px 15px;
  text-align: center;
  margin-top: 40px;
  transition: color, background-color .5s;
  &:hover {
	transition: color, background-color .5s;
  }
}
.base-link {
  min-width: size(278);
  height: size(39);
  @include mid-text;
  font-weight: 700;
  border: 1px solid $main-color;
  color: $text-main;
  &:hover {
	background-color: $main-color;
	color: #ffffff;
  }
}
.base-link-reverse {
  border: 1px solid #ffffff;
  color: #ffffff;
  &:hover {
	background-color: $main-color;
	color: $text-main;
  }
}
.border-link-gold {
  border: 1px solid $main-color;
}
.base-link-about {
  min-width: size(161);
  height: size(42);
  font-size: size(17);
  line-height: size(20);
  font-weight: 400;
  &:hover {
	border: 1px solid $main-color;
  }
}
.after-image {
  position: relative;
  margin: 0 0 20px 60px;
  width: 100%;
  img {
	width: 100%;
	position: relative;
	z-index: 8;
  }
  &:after {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	border: 1px solid $main-color;
	left: -20px;
	bottom: -20px;
  }
}
.about-img-wrap {
  .after-image {
	margin: 10px;
	&:after {
	  left: unset;
	  right: -10px;
	  bottom: -10px;
	}
  }
}
.dark-home-slider {
  .after-image {
	&:after {
	  left: unset;
	  right: -20px;
	  bottom: -20px;
	}
  }
}
.slide-main {
  height: 80vh;
  max-height: 692px;
  @include back-img;
  width: 100%;
}
.slide-main-overlay {
  background-color: rgba(0, 0, 0, 0.34);
  width: 100%;
  height: 100%;
}
.main-block {
  .slick-dots {
	bottom: 30px;
	left: 25px;
	display: flex;
	justify-content: flex-end;
  }
  ul.slick-dots {
	li {
	  margin: 0 1.5px;
	  button {
		@include d-center;
		width: 20px;
		height: 19px;
		border-radius: 50%;
		border: 2px solid #ffffff;
		background-color: transparent;
		opacity: 1 !important;
		&:before {
		  top: unset;
		  left: unset;
		  color: #ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: #ffffff;
  }
}
.main-slider-wrap {
  position: relative;
}
.content-main-wrap {
  @include overlay;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 80px;
}
.logo-home {
  @include d-center;
  margin-bottom: 10px;
  img {
	max-height: size(180);
  }
}
.home-main-title {
  text-shadow: -4px 1px 8px rgba(0, 0, 0, 0.92);
  color: #ffffff;
  font-size: size(41);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(50);
  text-align: center;
  margin-bottom: 25px;
}
.home-main-link {
  @include d-center;
  min-width: 279px;
  min-height: size(62);
  box-shadow: 0 2px 16px 1px rgba(0, 0, 0, 0.78);
  border: 1px solid #ffffff;
  background-color: $main-color;
  padding: 5px 30px;
  color: #ffffff;
  font-size: size(39);
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(50);
  text-align: center;
  margin-bottom: 17px;
  transition: color, background-color .5s;
  &:hover {
	background-color: $text-main;
	color: $main-color;
	transition: color, background-color .5s;
  }
}
//Galleries
.gallery-link {
  position: relative;
  @include d-center;
  flex-direction: column;
  padding: 10px 13px 20px 13px;
  border: 1px solid $main-color;
  background-color: #ffffff;
  height: 100%;
  transition: background-color .5s;
  &:after {
	content: '';
	position: absolute;
	bottom: 10px;
	display: block;
	width: calc(100% - 26px);
	height: 8px;
	background-image: url("../iconsall/cat-title.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  }
  &:hover {
	background-color: #1f1f1f;
	transition: background-color .5s;
	.first-gallery-title {
	  color: #ffffff;
	  transition: color .5s;
	}
	&:after {
	  background-image: url("../iconsall/cat-title-hover.png");
	}
  }
}
.col-no-pads {
  padding: 0 1px;
}
.first-gallery-title, .all-gallery-title {
  font-size: size(25);
  font-style: normal;
  letter-spacing: normal;
  line-height: size(24);
  text-align: center;
}
.first-gallery-title {
  color: #1f1f1f;
  font-weight: 400;
  transition: color .5s;
}
.all-gallery-title {
  font-weight: 700;
  color: $main-color;
  margin-bottom: 10px;
}

//Benefits
.benefits-block {
  margin: 40px 0;
  .with-line-title {
	color: #ffffff;
  }
}
.why-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
.icon-wrap-why {
  @include d-center;
  height: size(80);
  margin-bottom: 20px;
}
//Homeposts
.home-posts {
  padding-bottom: size(90);
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.home-about-block {
  padding-bottom: size(60);
}
.prod-slide {
  padding: 1rem 15px;
}
.dark-home-slider {
  .base-slider-block {
	background-color: #1f1f1f;
  }
  .slider-row {
	flex-direction: row-reverse;
  }
  .slider-output {
	padding-left: 30%;
  }
  [dir="rtl"] .slick-next {
	left: 2rem;
  }
  [dir="rtl"] .slick-prev {
	right: unset;
	left: 4rem;
  }
}
.about-years {
  position: absolute;
  right: -20%;
  bottom: 10%;
  z-index: 9;
  text-shadow: 0 7px 8px rgba(0, 0, 0, 0.85);
  color: #ffffff;
  font-size: size(79);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(72);
  text-align: left;
}
.about-img-wrap {
  position: relative;
  .after-image {
	width: calc(100% - 40px);
  }
}
.home-products {
  background-color: #3a3a3a;
  padding-bottom: 10px;
  margin-bottom: -1px;
}
.reviews-block {
  background-color: #fefefe;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(25);
	height: size(39);
	z-index: 33;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/rev-arrow-left.png");
	left: -2rem;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/rev-arrow-right.png");
	right: -2rem;
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
  .base-slider {
	width: 26.9%;
  }
}
.reviews-back {
  background-image: url("../img/reviews-back.png");
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 47px;
  padding-bottom: 5%;
}
.reviews-title {
  position: relative;
  @include large-title;
  text-align: center;
  font-weight: 700;
  margin-bottom: 125px;
  padding-bottom: 15px;
  @include d-center;
  flex-direction: column;
  &:after {
	content: '';
	display: block;
	background-image: url("../iconsall/title.png");
	position: absolute;
	bottom: 0;
	height: 13px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: calc(100% - 10px);
  }
}
//Post
.with-line-white {
  color: #ffffff;
}
.post-body {
  .with-line-title {
	margin: size(45);
  }
}
.post-image-wrap {
  width: 35.4%;
  float: left;
  margin: 0 13.5% 0 0;
}
.page-about-image-wrap {
  width: 50%;
  float: left;
  margin: 0 size(74) size(50) 0;
  .after-image {
	width: 100%;
  }
}
.post-thumb-main {
  margin-bottom: 13px;
  width: 100%;
}
.post-form-wrap {
  @include back-img;
  background-image: url("../img/post-form-back.png");
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 37px 7% 15px 7%;
}
.post-form-title, .post-form-subtitle {
  text-align: center;
  color: $text-main;
  margin-bottom: 12px;
}
.post-form-title {
  font-size: size(30);
  line-height: size(33);
  font-weight: 700;
}
.post-form-subtitle {
  font-size: size(22);
  line-height: size(34);
  font-weight: 300;
}
.same-posts {
  margin-bottom: 70px;
}
//Contact page
.pencil-relative-block {
  position: relative;
}
.contact-pencil {
  position: absolute;
  left: -1.5rem;
  top: -10px;
  width: 12%;
  z-index: 9;
}
.contact-page {
  .with-line-title {
	margin: 30px 0 55px 0;
  }
}
.form-contact-block {
  @include back-img;
  background-image: url("../img/contact-form-back.png");
  margin-bottom: 18px;
}
.pad-block-contact, .form-contact-block  {
  padding: 50px 7% 20px 7%;
}
ul.contact-list {
  margin-bottom: 30px;
}
.contact-info-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &:hover {
	color: $main-color;
	transition: color .5s;
  }
}
.contact-icon-wrap {
  @include d-center;
  min-width: 39px;
  width: 39px;
  height: 39px;
  border: 1px solid #000000;
  padding: 7px;
  margin-left: 15px;
  img {
	max-height: 100%;
  }
}
.contact-item-title {
  color: #1f1f1f;
  font-size: size(23);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  white-space: nowrap;
  transition: color .5s;
}
.contact-item {
  margin-bottom: 30px;
}
//Gallery page
.gallery-page-title {
  @include base-title;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 400;
}
//Project/product
.pro-form-title {
  color: #ffffff;
  font-size: size(22);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(33);
  text-align: center;
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 20px 0;
}
.social-share-link {
  @include d-center;
  margin: 0 3px;
  img {
	max-height: size(22);
  }
}
.project-output {
  margin-bottom: 50px;
}
.gallery-slider-wrap {
  display: flex;
  align-items: stretch;
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	bottom: unset;
	top: calc(100% + 10px);
	width: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
  }
  .slick-dots li button:before {
	color: #ffffff;
  }
}
.gallery-slider {
  flex: 0 0 60%;
  max-width: 60%;
  //&.slick-slider .slick-track, &.slick-slider .slick-list {
	//height: 100%;
  //}
}
.thumbs {
  flex: 0 0 40%;
  max-width: 40%;
  &.slick-slider .slick-track, &.slick-slider .slick-list {
	//height: 100% !important;
  }
}
.big-slider-item, .thumb-item {
  position: relative;
  @include back-img;
  display: flex;
  &:after {
	content: '';
	display: block;
	padding-bottom: 134%;
  }
  &:hover .gallery-trigger {
	opacity: 1;
	pointer-events: auto;
	transition: opacity .5s;
  }
}
.gallery-image {
  &:hover .gallery-trigger {
	opacity: 1;
	pointer-events: auto;
	transition: opacity .5s;
  }
}
.gallery-trigger {
  @include overlay;
  opacity: 0;
  pointer-events: none;
  @include d-center;
  color: #ffffff !important;
  font-size: 49px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 70px;
  text-align: center;
  background-color: rgba(31, 31, 31, 0.45);
  transition: opacity .5s;
}
.big-slider-item {
  height: 100%;
}
.gallery-slider.slick-slider .slick-track, .gallery-slider.slick-slider .slick-list {
  height: 100%;
  .slick-slide {
	height: 100%;
  }
}
.big-slider-item, .thumb-item {
  background-color: #ffffff;
}
.thumb-item {
  min-height: 100px;
  &:after {
	padding-bottom: 65%;
	//padding-bottom: unset;
	//display: unset;
	//content: unset;
  }
}
//Blog
.blog-body {
  .with-line-title {
	margin: 40px 0 80px 0;
  }
}
.more-link {
  &.loading {
	img {
	  display: none;
	}
  }
  .fas {
	color: $main-color;
  }
  &.hide {
	display: none;
  }
}
.gallery-image {
  position: relative;
  @include back-img;
  display: flex;
  &:after {
	display: block;
	content: '';
	padding-bottom: 76%;
  }
}
.gallery-chunk {
  display: none;
  &.show {
	display: block;
  }
}

@import "responsive";
